[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]
wtforms = "*"

[requires]
python_version = "3.9.5"
