{% extends 'temp1.html' %}

{% block t1 %}
<title>One Chance Is All You Need</title>
{% endblock %}

{% block b1 %}
<div class="container">
	<h1 class="alert alert-primary text-center">Hi, Welcome!!</h1>
	<div class="text-center">
		<h2> This game gives you a 50% chance, test your luck. </h2>
		<h2> You may be stuck here forever or get to leave on your first try. </h2>
		<h2> Enter your ID to start, please don't use your real name. </h2>

		<h2>Rules</h2>
		<h2> The words will iterate between "<span>fall</span>" and "<span>fell</span>". </h2>
		<h2> Keep entering one of the two till you fail. </h2>
	</div>

	<hr>

	<div class="text-center">
		{% from "_formhelpers.html" import render_field %}


		{% if session['set_state'] == 0 %}
		<form action='/' method='POST'>
			{{form.csrf_token}}
			{{render_field(form.n1)}}
			<input class="btn btn-success" type='submit' value='START'>
		</form>
		{% endif %}

		{% if session['set_state'] == 1 %}
		<div>
			Clue: {{session['set_blank']}}
		</div>
		<form action='/' method='POST'>
			{{gform.csrf_token}}
			{{render_field(gform.g1)}}
			<input type='submit' value='ENTER'>
		</form>
		{% endif %}

		{% if session['set_state'] == 3 %}
		<h2> You are free from the horrors of infinity. Check the scoreboard for how well you fared </h2>
		{% endif %}
	</div>
</div>

{% endblock %}