<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="static/css/chance.css">
		<link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css">
		
		<script src="static/js/jquery-3.6.0.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
		{% block t1 %}{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
			<a class="navbar-brand" href="#">A Simple Trial</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="{{ url_for('main_view') }}">The Trial</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('score_view') }}">The Leaderboard</a>
				</li>
			  </ul>
			</div>
		  </nav>
		{% block b1 %}{% endblock %}
	</body>
</html>